<!--
<?php
print <<<EOT
--> 
 
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="?action=$job">
    <tr class="head"> 
      <td align="left"> <b><font color="#FFFFFF">js设置方法如下</font></b></td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF'>示例:&lt;SCRIPT LANGUAGE=&quot;JavaScript&quot; src=&quot;js.php?<font color="#FF0000">fid=76</font>&amp;<font color="#FF0000">type=lastview</font>&amp;<font color="#FF0000">icon=1</font>&amp;<font color="#FF0000">target=1</font>&quot;&gt;&lt;/SCRIPT&gt;</td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF'>请把以上代码按你的需要修改后,即可插入网页适当的地方调取显示数据<br>
        其中:<br>
        <font color="#FF0000">fid=76</font> 你可以改成你要显示的栏目FID,如果想同时显示多个栏目的话,请用,号隔开,比如<font color="#FF0000">fid=1,2,33,44 </font><br>
        <font color="#FF0000">type=lastview</font> 你可以改成<font color="#FF0000">type=hot</font>或<font color="#FF0000">type=com</font>或<font color="#FF0000">type=new 
        </font>其中lastview代表码最近浏览,hot代表最热,com代表推荐,new代码最新<br>
        <font color="#FF0000">icon=1</font> 你可改成<font color="#FF0000">icon=0 </font>其中1代表使用小图标,0代表不使用标题图标<br>
        <font color="#FF0000">target=1</font> 你可改成<font color="#FF0000">target=0 
        </font>其中1代表新开窗口,0代表不必新开窗口<br>
        注意:如果给其他模块或系统调用的话.js.php前面必须加上真实路径.比如http://or58.com/js.php</td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
