<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"  >
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"  id="viewarticle">
        <tr> 
          <td style="font-size:24px; font-weight:bold; height:50px; padding-left:50px" align="center">用户登录 </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="5" cellpadding="5">   <form name="form1" method="post" action="?f">
              <tr>
                <td height="25">
                    <table width="100%" border="0" cellspacing="1" cellpadding="6">
                    
                      <tr> 
                        <td width="46%" height="25" style="height:30px" align="right"><span id="reg_table_td">帐号:</span></td>
                        <td width="54%" height="25"> 
                          <input type="text" name="username" style="width:130px;height:16px;">
                          <a href="reg.php">注册新帐号</a> </td>
                      </tr>
                      <tr>
                        <td style="height:20px" align="right">&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr> 
                        <td width="46%" style="height:30px" align="right"><span id="reg_table_td">密码:</span></td>
                        <td width="54%"> 
                          <input type="password" name="password" style="width:130px;height:16px;">
                          <a href="$webdb[www_url]/do/sendpwd.php">忘记密码,马上取回</a> </td>
                      </tr>
                      <tr> 
                        <td width="46%" style="height:30px" align="right"></td>
                        <td width="54%"><span class="smalltxt"> 
                                                   
                          <input  type="checkbox" name="cookietime" value="2592000" checked>
                          记住密码30天 <font   color="#666666">(一个月之内不用再登录)</font>                           
                          </td>
                      </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" style="height:10px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center" style="height:20px;"><span style="height:30px; padding-left:200px">
                           <input type="submit" name="Submit3" value=" 登 录 "  class="button" />
                          <input type="hidden" name="step" value="2" />
                          <input type="hidden" name="fromurl" value="$FROMURL" />
提示:如果你还没注册,请点击 <a href="reg.php" style="color:red; font-size:14px; font-weight:bold">注册</a></span></td>
                      </tr>
                      <tr>
                        <td align="center" style="height:10px; padding-left:50px">&nbsp;</td>
                      </tr>                   
                    </table>
                  </td>
              </tr> </form>
            </table>
         
          </td>
        </tr><tr><td class="foot"><h3 class="L"></h3><h3 class="R"></h3></td></tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->