<!--
<?php
print <<<EOT
--> 
<style>
.basetr{
	display:$basetr;
}
</style>
<SCRIPT language=JavaScript src=../images/default/postcode.js></SCRIPT>
<SCRIPT>
  function foreColor_font()
{
  
  var arr = showModalDialog('images/selcolor.htm', '', 'dialogWidth:18.5em; dialogHeight:17.5em; status:0');
  if (arr != null)  FORM.titlecolor.value=arr;
  else  FORM.titlecolor.focus();
}
function post(){
	if(FORM.title.value==''){
		alert("标题不能为空");
		FORM.title.focus();
		return false;
	}
	if(FORM.fid.value==''){
		alert("所属栏目不能为空,请选择一个栏目");
		FORM.fid.focus();
		return false;
	}
	if(FORM.jumpurl.value==''&&FORM.flashurl.value==''&&FORM.iframeurl.value==''){
		
		alert("FLASH地址不能为空");
		FORM.flashurl.focus();
		return false;
	}
}
  </SCRIPT>
<script>
function upfile(url,name,size,ty){
	FORM.flashurl.value=url;
	if(FORM.title.value==''){
		FORM.title.value=name
	}
}
function uppic(url,name,size,ty){
	FORM.picurl.value=url;
}
</script>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="FORM" method="post" action="?action=$job&id=$id&rid=$rid&jobs=$jobs" onsubmit="return post()">
    <tr> 
      <td colspan="2" class="head"> 
        <div align="center"> 发布FLASH</div>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF" class="basetr"> 
      <td colspan="2" style="padding-left:2em;"><font color="#0000FF">打开详细选项&gt;&gt;&gt;</font><font color="#FF0000"> 
        <input type="checkbox" name="showmore" value="checkbox" id="showmore" onClick="show_more(0);">
        </font> </td>
    </tr>
    <tr bgcolor="#FFFFFF" class="basetr"> 
      <td width="42%" style="padding-left:2em;"><font color="#FF0000">FLASH名称：</font> 
        <input type="text" name="postdb[title]" size="40" value="$rsdb[title]" id="title">
      </td>
      <td width="58%"><font color="#FF0000">系统分类：</font> $sort_fid </td>
    </tr>
    <tr bgcolor="#FFFFFF" class="hidetr"> 
      <td colspan="2" style="padding-left:2em;">关键字： 
        <input type="text" name="postdb[keywords]" size="50" value="$rsdb[keywords]" id="keywords">
        <select name="select2" onChange="MM_keyword(this)">
          <option value='' selected>常用关键字</option>
		  $keywords
        </select>
        <input type="checkbox" name="addkeyword" value="1">
        添加至关键字列表中 =&gt;关键字管理 
        <script language="JavaScript">
<!--
function MM_keyword(selObj){ //v3.0
  va=selObj.options[selObj.selectedIndex].value
  if (va!=''){
  	if(FORM.keywords.value==''){
		FORM.keywords.value=va;
	}else{
		vb=FORM.keywords.value
		arr = vb.split(' ');
		for(var i=0;i<arr.length;i++){
			if(arr[i]==va){
				alert(va+",已经存在了,不能雷同");
				return ;
			}
		}
		FORM.keywords.value+=" "+va;
	}
  } 
}
//-->
</script>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF" class="hidetr"> 
      <td style="padding-left:2em;">FLASH作者： 
        <input type="text" name="postdb[author]" size="15" value="$rsdb[author]">
      </td>
      <td style="padding-left:2em;">FLASH大小： 
        <input type="text" name="postdb[flashsize]" value="$rsdb[flashsize]">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF" class="basetr"> 
      <td style="padding-left:2em;" width="42%">缩略图片： 
        <input type="text" name="postdb[picurl]" size="60" value="$rsdb[picurl]" id="picurl">
      </td>
      <td width="58%"><iframe name='mainFrame2' frameborder=0 height=23 scrolling=no src='../../upfile.php?fn=uppic&dir=flash$fid' width=310></iframe> 
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td style="padding-left:2em;"> <font color="#FF0000">FLASH地址</font>： 
        <input type="text" name="postdb[flashurl]" size="60" value="$rsdb[flashurl]" id="flashurl">
      </td>
      <td><iframe name='mainFrame2' frameborder=0 height=23 scrolling=no src='../../upfile.php?fn=upfile&dir=flash$fid' width=310></iframe> 
      </td>
    </tr>
    
    <tr bgcolor="#FFFFFF" class="basetr"> 
      <td colspan="2" style="padding-left:2em;">FLASH设置： 
        <input type="checkbox" name="postdb[yz]" value="1" $yz>
        审核 
        <input type="checkbox" name="postdb[top]" value="1" $top>
        置顶 
        <input type="checkbox" name="postdb[levels]" value="1" $levels>
        推荐</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td colspan="2" style="padding-left:2em;"> 
        <!--
EOT;
if($jobs=="usehtml"){
print <<<EOT
-->
        <iframe id="eWebEditor1" src="ewebeditor/ewebeditor.php?id=content&style=standard" frameborder="0" scrolling="no" width="100%" height="450"></iframe> 
        <input name="postdb[content]" type="hidden" id="content" value='$rsdb[content]'>
        <!--
EOT;
}else{
print <<<EOT
-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="13%">简介：</td>
            <td width="87%"> 
              <textarea onKeyDown="quickpost()" onFocus="getActiveText(this)" onClick="getActiveText(this)" name="postdb[content]" rows="5" cols="60" onChange="getActiveText(this)" id="content">$rsdb[content]</textarea>
            </td>
          </tr>
        </table>
        <!--
EOT;
}
print <<<EOT
-->
      </td>
    </tr>
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="2"> 
        <input type="submit" name="Submit" value="提 交">
      </td>
    </tr>
  </form>
</table>
<SCRIPT language=JavaScript>
function subck() {
		
        if (document.FORM.atc_title.value=="")
        {
	        alert("标题没写，请注意一下.");
             return false; 
	    }
		if (document.FORM.fid.value=="")
        {
	        alert("栏目没选择，请注意一下.");
             return false; 
	    }
		if(document.FORM.atc_content.value==''){
			alert("内容不能为空");
			return false; 
		}
		 document.FORM.submit();
}
ie = (document.all)? true:false;
if (ie)
{
	function quickpost(eventobject)
	{
		if((event.ctrlKey && window.event.keyCode == 13)||(event.altKey && window.event.keyCode == 83))
		{
			this.document.FORM.submit();
		}
	}
}
function show_more(va){
	var s=document.getElementsByTagName("tr");
	for(var i=0;i<s.length;i++){
		if( document.FORM.showmore.checked==true ||va==1 ){
			if(s[i].className=='hidetr'){
				s[i].style.display="";
			}	
		}else{
			if(s[i].className=='hidetr'){
				s[i].style.display="none";
			}	
		}
	}
}
show_more(0);

</SCRIPT>
<!--
EOT;
?>
-->
