<!--
<?php
$www_url=str_replace("http://","",$webdb[www_url]);
print <<<EOT
-->
<!--- 营销模块改动部分  -->
 
<div id="bottom"></div>
<!--- 营销模块改动部分  -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" id="footer">
  <tr> 
    <td align="center" style="font-size:12px">$webdb[copyright]<a href="http://www.miibeian.gov.cn" target="_blank" style="font-size:12px">{$webdb[miibeian_gov_cn]}</a>  - <a href="$webdb[www_url]/about.htm" target="_blank" style="font-size:12px" >关于我们</a> - <a href="$webdb[www_url]/contactus.htm" style="font-size:12px">联系我们</a> - <a href="http://www.or58.com/sitemap.xml" style="font-size:12px" >网站地图</a> 
   
    </td>
  </tr>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT>
<!--营销模块改动部分
EOT;
if($webdb[ifShowPwAd]){print <<<EOT
-->
<!--营销模块改动部分
EOT;
}print <<<EOT
-->
<!--CNZZ站点统计
EOT;
if($webdb[cnzz_open]&&$webdb[cnzz_id]){print <<<EOT
-->
<div style="display:none"><script src="http://s6.cnzz.com/stat.php?id=4356784&web_id=4356784" language="JavaScript"></script>
</div>

<!--CNZZ站点统计
EOT;
}print <<<EOT
-->
</body>
</html>
<!--
EOT;
?>
-->