<!--
<?php
$layout=array();
$detail=explode("#",$webdb[sort_layout]);
foreach($detail AS $key=>$value){
	$detail2=explode(",",$value);
	foreach($detail2 AS $fup){
		if(!$Fid_db['name'][$fup]){
			continue;
		}
		$layout[$key][$fup]['name']=$Fid_db['name'][$fup];
		$layout[$key][$fup]['son']=$Fid_db[$fup];
		$ckfup[$fup]=1;
	}
}
foreach($Fid_db[0] AS $fup=>$name){
	if(!$ckfup[$fup]){
		$layout[0][$fup]['name']=$Fid_db['name'][$fup];
		$layout[0][$fup]['son']=$Fid_db[$fup];
	}
}
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="indexMain" align="center">
  <tr>
    <td class="L" width="75%" height="352" align="left" valign="top" > 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style=" border-top:1px solid #ccc ">
     
        <tr valign="top" > 
          <td colspan="2" height="300" class="m"> 
            <table border="0" cellspacing="9" cellpadding="0" width="100%">
              <tr align="left" valign="top" > 
<!--
EOT;
foreach($layout AS $key=>$array){
if($key>3)break;
print <<<EOT
-->

                <td width="25%" height="200">
<!--
EOT;
foreach($array AS $fup=>$rs){
$url=get_info_url('',$fup,$city_id);
$color=$Fid_db[ifcolor][$fup]?"color:red;":'';
print <<<EOT
-->
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="sort_name">
                    <tr>
                      <td class="bigname"><a href="$url" style="$color">$rs[name]&raquo;</a></td>
                    </tr>
                    <tr>
                      <td class="samllname">
                  <!--
EOT;
$i=0;
foreach($rs['son'] AS $fid=>$name ){
$i++;
if($webdb[Info_showsortnum]>0&&$i>$webdb[Info_showsortnum]){break;}
$InfoNum[$fid]=intval($InfoNum[$fid]);
$url=get_info_url('',$fid,$city_id);
$color=$Fid_db[ifcolor][$fid]?"color:red;":'';
print <<<EOT
-->
                   <a href="$url" style="$color">$name</a><br>
                  <!--
EOT;
}print <<<EOT
--></td>
                    </tr>
                  </table>
 <!--
EOT;
}print <<<EOT
-->
                </td>
 <!--
EOT;
}print <<<EOT
-->
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td class="R" width="25%" height="152" align="left" valign="top"> 

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top">信息发布</td>
        </tr>
        <tr>
          <td class="m"><div class="title"> 租售房子、求职招聘、找朋友、二手买卖就在本分类信息网！ </div>
            <div class="post"> <a href="$webdb[www_url]/post.php?choose_cityID=$city_id" target="_blank"><img src="$webdb[www_url]/images/default/freepost.gif"  border="0"></a> 
            </div>
          </td>
        </tr>
      </table>
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top">商家推荐</td>
        </tr>
        <tr>
 
          <td class="m" align="center" height="260" onclick="mytest()">
           
           
           
           
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0626490200330367";
/* 城市主页 */
google_ad_slot = "8169027359";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
           <script type="text/javascript"><!--
google_ad_client = "ca-pub-0626490200330367";
/* 城市主页 */
google_ad_slot = "8169027359";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        
         

          </td>
        </tr>
      </table>
	  
      
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dr">
        <tr> 
          <td class="top">最新信息</td>
        </tr>
        <tr> 
          <td class="m">          
          	<span class="setfont_city">$show</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable" id="indexMoreSort">
  <tr> 
    <td  valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="moresort">
        <!--
EOT;
$array=array_chunk($listdb_moresort,3);
foreach($array AS $key2=>$array2){
$i++;
print <<<EOT
-->
        <tr> 
          <!--
EOT;
foreach($array2 AS $key1=>$rss){
$i++;
$url=get_info_url('',$rss[fid],$city_id);
print <<<EOT
-->
          <td class="c$key1"> 
            <table border="0" cellspacing="0" cellpadding="0" class="dragTable">
              <tr> 
                <td class="head"> 
                  <h3 class="L"></h3>
                  <span class="TAG"><a href="$url">$rss[name]</a></span> 
                  <h3 class="R"></h3>
                </td>
              </tr>
              <tr> 
                <td class="middle"> 
                  <!--
EOT;
foreach($rss[article] AS $key2=>$rs){
$url=get_info_url($rs[id],$rs[fid],$city_id);
print <<<EOT
-->
                  <dd>·<a href="$url" title="$rs[full_title]" target="_blank">$rs[full_title]</a> </dd>
                  
                  <!--
EOT;
}print <<<EOT
-->
                </td>
              </tr>
              
            </table>
          </td>
          <!--
EOT;
}
print <<<EOT
-->
        </tr>
        <!--
EOT;
}
print <<<EOT
-->
      </table>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:0px;" class="MainTable">
  <tr> 
    <td  valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td > 
            <span class="TAG">附近城市</span> 
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
          	 <span class="setfont_city">$ocity</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

  <!--
EOT;
if (count($friendlinkDB[1])>1){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:0px;" class="MainTable">
  <tr> 
    <td height="40" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">友情链接</span> 
			<span class="more"><a href="$webdb[www_url]/do/friendlink.php?job=apply" target="_blank">申请链接</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
             <div class="imgfriendlink"> 
              <!--
EOT;
foreach($friendlinkDB[1] AS $key=>$rs){
print <<<EOT
-->
           
              <!--
EOT;
}
foreach($CFLDB["i_$city_id"] AS $key=>$rs){
print <<<EOT
-->
              <A HREF="$rs[url]" target=_blank><img alt="名称:$rs[name]\r\n描述:$rs[descrip]" src="$rs[logo]" width="88" height="31" border=0></A> 
              <!--
EOT;
}
print <<<EOT
-->
            </div>
            <div class="wordfriendlink"> 
              <!--
EOT;
foreach($friendlinkDB[0] AS $key=>$rs){
print <<<EOT
-->
             
              <!--
EOT;
}
foreach($CFLDB["w_$city_id"] AS $key=>$rs){
print <<<EOT
-->
              <A HREF="$rs[url]" target="_blank" title="描述:$rs[descrip]">$rs[name]</A>&nbsp; 
              <!--
EOT;
}
print <<<EOT
-->
            </div>
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<!--
EOT;
}
?>
-->