<!--
<?php
$priceColordb["c$price1$price2"]='red';
$orderColordb["$ordertype"]='red';
print <<<EOT
-->

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
      <tr>
          <td class="street" id="street_td3">
         	 <div class="listsearch">
              <div>&nbsp;<span class='t'>类别：</span><span class='f'><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array());
print <<<EOT
--><A HREF='$url' {$search_fieldDB[sortid][0]}>不限</A> <!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'1'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['1']}>弯梁车 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'2'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['2']}>踏板车</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'3'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['3']}>骑式车</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'4'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['4']}>迷你车 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'5'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['5']}>太子车 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'6'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['6']}>沙滩车</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'7'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['7']}>大排量</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'8'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['8']}>越野摩托 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'9'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['9']}>公路赛车 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'10'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['10']}>三轮摩托 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'11'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['11']}>助动车 </A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('sortid'=>'12'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[sortid]['12']}>其他 </A></span></div>
              <!----></div>
           </td>
        </tr>
        
  <tr>
    <td valign="top" class="Main"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="zone_street_menu">
        <!--
EOT;
if($city_id){
$url=get_info_url('',$fid,$city_id,'','',$TempSearch_array);
print <<<EOT
-->
        <tr>
          <td class="zone" id="zone_td"><span style="font-weight:bold">区域</span> <span id="zone_span_0"> <A HREF="$url">{$city_DB[name][$city_id]}</A></span> 
            <!--
EOT;
foreach($zone_DB[name] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$key,'',$TempSearch_array);
print <<<EOT
--> 
            <span  id="zone_span_$key"><A HREF="$url">$value</A></span> 
            <!--
EOT;
}
print <<<EOT
--></td>
        </tr>
        <tr>
          <td class="street" id="street_td"><!--
EOT;
foreach($street_DB[$zone_id] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$zone_id,$key,$TempSearch_array);
print <<<EOT
--> 
            <A id="street_a_$key" HREF="$url">$value</A> 
            <!--
EOT;
}
print <<<EOT
--></td>
        </tr>
    
        <!--
EOT;
}
print <<<EOT
--> 
        <SCRIPT LANGUAGE="JavaScript">
<!--
function zone_menu(zone_id){
	obj=document.getElementById("zone_td").getElementsByTagName("span");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	document.getElementById("zone_span_"+zone_id).className='choose';
}
zone_menu("$zone_id");
function street_menu(street_id){
	obj=document.getElementById("street_td").getElementsByTagName("a");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	if(document.getElementById("street_a_"+street_id)!=null){
		document.getElementById("street_a_"+street_id).className='choose';
	}
}
street_menu("$street_id");
//-->
</SCRIPT>
     


      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr>
    <td width="70%" height="393" valign="top" class="Main">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable" id="sortList">
        <tr>
          <td class="head"><h3 class="L"></h3>
            <span class="TAG">{$city_DB[name][$city_id]}$fidDB[name]</span> <span class="more postbt"><a href="$webdb[www_url]/post.php?fid=$fid&city_id=$city_id&zone_id=$zone_id&street_id=$street_id">&nbsp;</a></span>
            <h3 class="R"></h3></td>
        </tr>
        <tr>
          <td  align="left">
          <div  style="border-bottom:1px solid #E7E7E7; text-align:left"> 
              <script type="text/javascript"><!--
google_ad_client = "ca-pub-0626490200330367";
/* 主页广告条 */
google_ad_slot = "4540362792";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script> 
              <script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script> 
            </div>
            </td>
        </tr>
        <tr>
          <td class="middle"><!--
EOT;
foreach($listdb AS $key=>$rs){
$target=$rs[target]?'_blank':'_self';
print <<<EOT
-->
            
            <div class="LT" style="height:15px">
              <div style="float:left;">
                <div> <span class="title"><a href="$rs[url]" target="$target" title='$rs[full_title]' style="color:$rs[titlecolor];">$rs[title]</a> 
                  <!--
EOT;
if($rs[picurl]){
print <<<EOT
--> 
                  <img src="$Murl/images/default/tu.gif"> 
                  <!--
EOT;
}print <<<EOT
--> 
                  $rs[idcard_show]$rs[permit_show]$rs[othercard_show]</span> </div>
              </div>
              <div style="float:left;"> 
                {$rs[sortid]}  <!----></div>
            </div>
            <div class="list_content">$rs[content] <font class="list_posttime">($rs[times])</font></div>
            
            <!--
EOT;
}print <<<EOT
-->
            
            <div class="page">$showpage</div></td>
        </tr>
        <tr>
          <td class="foot"><h3 class="L"></h3>
            <h3 class="R"></h3></td>
        </tr>
      </table></td>
    <td width="15%"  valign="top"  align="right"><table  border="0" cellspacing="0" cellpadding="0" class="list_ad" >
        <tr>
          <td class="middle" valign="top" align="center">
		  <script type="text/javascript"><!--
google_ad_client = "ca-pub-0626490200330367";
/* 列表页1 */
google_ad_slot = "5675235655";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script> 
            <script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="list_search">
  <tr>
    <td style="padding:4px;"><div class="sort">
        <div class="t1">{$city_DB[name][$city_id]}{$Fid_db[name][$fidDB[fup]]}的所有分类:</div>
        <div class="t2"> 
          <!--
EOT;
foreach($Fid_db[$fidDB[fup]] AS $key=>$value){
$url=get_info_url('',$key,$city_id);
print <<<EOT
--> 
          <span><a href="$url" target="_blank">{$city_DB[name][$city_id]}{$Fid_db[name][$key]}</a> </span> 
          <!--
EOT;
}
print <<<EOT
--> 
        </div>
      </div>
      <div class="sort">
        <div class="t1">城市链接:</div>
        <div class="t2"> 
          <!--
EOT;
$i=0;
foreach($city_DB[name] AS $key=>$value){
if(!$key)continue;
$i++;
if($i>7)break;
$url=get_info_url('',$fid,$key);
print <<<EOT
--> 
          <span><a href="$url" target="_blank">{$city_DB[name][$key]}{$fidDB[name]}</a> </span> 
          <!--
EOT;
}
print <<<EOT
--> 
        </div>
      </div></td>
  </tr>
</table>
<!--
EOT;
?>
--> 
