<!--
<?php
print <<<EOT
--> 

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr class="head" align="center"> 
    <td width="22%">广告位名称</td>
    <td width="8%">购买者</td>
    <td width="9%">城市</td>
    <td width="15%">有效日期</td>
    <td width="30%">广告内容</td>
    <td width="7%"> 出价</td>
    <td width="9%">管理</td>
  </tr>
  <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
  <tr bgcolor="#FFFFFF"> 
    <td width="22%" align="center">{$rs[name]}</td>
    <td width="8%" align="center">$rs[username] </td>
    <td width="9%" align="center">$rs[city]</td>
    <td width="15%" align="center">开始:$rs[begintime]<br>
      结束:$rs[endtime]</td>
    <td width="30%" align="center"><a href="{$rs[adlink]}">{$rs[adword]}</a></td>
    <td width="7%" align="center">$rs[money]</td>
    <td width="9%" align="center"><a href="?ad_id=$rs[ad_id]&action=deleteusr" onclick="return confirm('你确认要删除这个广告吗?')">删除</a></td>
  </tr>
  <!--
EOT;
}
print <<<EOT
-->
  <tr bgcolor="#FFFFFF"> 
    <td colspan="7" align="center">$showpage<a href="?id=$rs[id]&action=deleteadplace" onclick="return confirm('你确认要删除这个广告吗?')"></a></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr class="head" align="center"> 
    <td align="left">说明</td>
  </tr>
   
  <tr bgcolor="#FFFFFF"> 
    <td>&nbsp;</td>
  </tr>
   
</table>
<!--
EOT;
?>
-->
