<!--
<?php
if($lfjid){print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="20">
  <tr> 
    <td  align="right" style="padding-top:4px;"> <span class="L2_name"><a style="color:#FF0000;">$lfjid</a></span> 
       <span class="L2_info"> 
      <a href="$webdb[www_url]/member/index.php" target="_blank">会员中心</a></span> <span class="L2_out"> 
     
      <a href="$webdb[www_url]/do/login.php?action=quit">退出</a></span> </td>
  </tr>
</table>
<!--
EOT;
}else{print <<<EOT
-->
<div class="login_tpl">
  <form name="form_login">   
       		<a href="$webdb[www_url]/do/reg.php">注册</a> 
        | <a href="$webdb[www_url]/do/login.php">登录</a></span><input type="hidden" name="step" value="2">
      <input class="radio" type="hidden" name="cookietime" value="86400" > 
	   
  </form>
</div>
<!--
EOT;
}?>
-->