<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>后台管理                                                              powerby www.or58.com</title>
</HEAD>
<SCRIPT language=javascript>
var x=0;
function switchSysBar(){
	if(x==0){
		switchPoint.innerHTML="";
		document.all("frmMenu").style.display="none";
		x=1;
	}else{
		switchPoint.innerHTML="";
		document.all("frmMenu").style.display="";
		x=0;
	}
}
</SCRIPT>
</head>
<body scroll="no" style="MARGIN: 0px">
<table border=0 cellspacing=0 cellpadding=0 width=100% height=100% id = tblTotal Name = tblTotal align=center> 
<tr><td id="frmMenu" name="frmMenu" nowrap valign="center" align="middle" class=tblLeftbody height=100%>
<iframe id="mainlu" name="mainlu"  style="HEIGHT:100%; VISIBILITY: inherit; WIDTH: 183px; Z-INDEX: 2" frameborder="0" src="left.php"></iframe>
</td>
<BODY>
<td width='100%'><iframe id="main" name="main" style="height: 100%;visibility: inherit;  width: 100%;z-index: 1" frameborder=0 src="<?=$MainUrl?>"></iframe>
</td></tr></table></body></html>
</body>
</HTML>