<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
print <<<EOT
-->
<head>
<title>会员操作平台                                                              powerby www.or58.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="images/style.css" type="text/css">
</head>
<body bgcolor="#0650D2" text="#000000" leftmargin="0" topmargin="0" >
<div id="LeftMenu">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
  <tr>
    <td class="head"><a href='javascript:' onclick='showson("s")'>当前状态</a></td>
  </tr>
  <tr>
    <td> 
      <table width='100%' cellspacing='1' cellpadding='3' style='display:' id=s>
        <tr> 
          <td style='padding-left:10px;line-height:16px;'>
		  帐号:<strong>$userdb[username]</strong> <br>
          级别: {$ltitle[$userdb[groupid]]} 
		  <br> 
		  <a href="../" target="_blank">网站首页</a> <a href="index.php?action=quite" target="_parent">安全退出</a><br>
		   <a href="javascript:" onClick="return showmenu('open')" >全部展开</a> 
            <a href="javascript:" onClick="return showmenu('close')" >全部收缩</a> 
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
     <td class="foot"></td>
  </tr>
</table>
<!--
EOT;
foreach($menudb AS $SortName=>$array){
$jj++;
print<<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
  <tr>
    <td class="head"><a href='javascript:' onclick='showson("s$jj")'>$SortName</a></td>
  </tr>
  <tr>
    <td class="middle">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style='display:' id='s$jj'>
<!--
EOT;
foreach($array AS $MenuName=>$array2){
if($power<$array2[power])continue;
print<<<EOT
-->
        <tr>
          <td style='padding-left:10px;height:15px;'><A HREF='$array2[link]' target=main>$MenuName</A></td>
        </tr>
<!--
EOT;
}print<<<EOT
-->
      </table>
	 </td>
  </tr>
  <tr>
     <td class="foot"></td>
  </tr>
</table>
<!--
EOT;
}print<<<EOT
-->
</div>
</body>
<!--
EOT;
?>
-->
<SCRIPT language=javascript>
function showson(ss){
	if (document.getElementById(ss).style.display == 'none'){
		document.getElementById(ss).style.display = '';
	}else{
		document.getElementById(ss).style.display = 'none';
	}
}
function showmenu(ss){
	for(i=0;i<100;i++){
		obj=document.getElementById("s"+i);	
		if(ss=='open'){
			if(obj && obj.style.display=="none"){
				obj.style.display="";
			}
		}else{
			if(obj && obj.style.display==""){
				obj.style.display="none";
			}
		}
	}
}
</script>
</html>