<!--
<?php
print <<<EOT
--> 

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr class="head" align="center"> 
    <td width="10%">关键字</td>
    <td width="16%">全局变量</td>
    <td width="24%">名 称</td>
    <td width="19%">广告类型</td>
    <td width="12%">点 击</td>
    <td width="19%">广告管理</td>
  </tr>
  <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
  <tr bgcolor="#FFFFFF"> 
    <td width="10%">{$rs[keywords]}</td>
    <td width="16%" align="center">{\$AD_label['{$rs[keywords]}']}</td>
    <td width="24%" align="center">$rs[name]</td>
    <td width="19%" align="center">{$array_adtype[$rs[type]]}</td>
    <td width="12%" align="center">$rs[hits]</td>
    <td width="19%" align="center"><a href="?job=editadplace&id=$rs[id]">修改</a> 
      / <a href="?id=$rs[id]&action=deleteadplace" onclick="return confirm('你确认要删除这个广告吗?')">删除</a></td>
  </tr>
  <!--
EOT;
}
print <<<EOT
-->
</table>
<br>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr class="head" align="center"> 
    <td align="left">说明</td>
  </tr>
   
  <tr bgcolor="#FFFFFF"> 
    <td>你可以把<font color="#FF0000">全局变量</font>插入到网页需要显示的地方.将会自动显示此广告的内容<br>
      另外有一点大家值得注意的是,广告也是网页的元素之一,换个思路分析问题,当前模板head与foot不能使用标签的情况下,可以用广告的方式实现标签.就是在head或foot模板里插入上面的全局变量
	  <br>注:仅能统计文字跟图片的点击率</td>
  </tr>
   
</table>
<!--
EOT;
?>
-->
